export HDWALLET_MNEMONIC="candy maple cake sugar pudding cream honey rich smooth crumble sweet treat"
export ROPSTEN_PROVIDER_URL='https://ropsten.infura.io/i09IiundTrlrm6GItXCC'
export RINKEBY_PROVIDER_URL='https://rinkeby.infura.io/i09IiundTrlrm6GItXCC'
