# Rinkeby test network
export HDWALLET_MNEMONIC="tomorrow draft giggle design purchase daring goddess cute inquiry giant thumb journey"
export PRIVATEKEYADDRESS="888d6431b1cbb4255b639620d99c44dab3bb5799f4fa0c4e8a385e2e30a26d8e"
export ROPSTEN_PROVIDER_URL='https://ropsten.infura.io/i09IiundTrlrm6GItXCC'
export RINKEBY_PROVIDER_URL='https://rinkeby.infura.io/i09IiundTrlrm6GItXCC'
