[Desktop Entry]
Encoding=UTF-8
Name=Link to ERC721 Token OpenZeppelin: Lucidchart
Type=Link
URL=https://www.lucidchart.com/documents/edit/bcb76767-6aed-43b4-b80a-aea96c28516e/0
Icon=text-html
